/* .carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-control-prev-icon{
    margin-right: 50px;
}
.carousel-control-next-icon{
    margin-left: 50px;
} */

.custom-badge {
    padding: 0.5rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}
.custom-border{
    border-right: 1px solid;
}